
button{
    background-color: #FFD600;
    align-items: center;
    color: #ffffff;
    font-family: 'Inter';
    width: 140px;
    display: flex;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    gap: 10%;
    cursor: pointer;
}
