.containerMobile{
    display: flex;
    flex-direction: row;
    position: relative;
}

.containerMobile h1{
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
    font-family: 'Inter';
    font-weight: 700;
    color: #ffffff;
    font-size: 4rem;
}

.mobile{
    width: 23%;
    margin-left: 15%;
}

.circulo{
    width: 80%;
    z-index: 0;
}

.titulo{
    position: absolute;
    color: black;
    z-index: 1;
    left: 50%;
    font-size: 40px;
    top: 15%;
    width: 28%;
    text-shadow: 1.5px 1.5px #adacac;
}

